@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  background-color: #000000;
  color:  #fff;
}
li{
  list-style: none;
}
.App{
  display: flex;
  justify-content: center;
}
.navbar{
  position: fixed;
  top: 0;
  border-right: 1px solid rgb(43, 42, 42);
  
  left: 0;
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 100%;
  padding-right: 50px;
  align-items: end;
  font-size: 22px;
  li{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px;
    &:hover{
      background-color: rgba(49, 49, 49, 0.5);
      border-radius: 25px;
      transition: all 0.2s;
    }
    &:active{
      font-weight: 700;
    }
    span{
      margin-left: 20px;
    }
  }
  .postButton{
    cursor: pointer;
    margin-top: 10px;
    background-color: #4C9EEB;
    width: 220px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    &:hover{
      background-color: #5397d7;
      transition: all 0.2s;
    }
  }
}

.home_page{
  width: 700px;
  height: 100%;
  .mini-header{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 500;
    align-items: start;
    width: 680px;
    border-bottom: 1px solid rgb(43, 42, 42);
    p{
      margin: 15px;
    }
    .buttons{
      display: flex;
      justify-content: center;
      margin-top: 15px;
      button{
        cursor: pointer;
        outline: none;
        background: none;
        border: none;
        width: 340px;
        height: 50px;
        font-size: 18px;

        &:hover{
          background-color: rgb(43, 42, 42, 0.5);
          transition: all 0.25s;
        }
      }
    }

  }
}